<div class="btn-group-vertical" style="margin-top:-220px;">
  <div class="btn-toolbar flex-wrap mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-info btn-lg" style="margin-top: -100px; margin-left: -10px; padding-left: 40px; width: 250px;">
        <span class="" style="font-size: 50px; color: skyblue"> <ngx-avatar value="65%" src="assets/img/avatar.jpg"></ngx-avatar></span>
        <p class="h6 card-title font-weight-bold" style="padding-left: 64px; margin-top: -20px; margin-right: 100px;">TestA TestA</p>
        <br />
        <p class="h6 card-title font-weight-bold " style="padding-left: 64px; margin-top: -27px; margin-right: 100px;">
          DOB: Jun, 1960
          <br />MRN:
        </p>
      </button>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="btn-toolbar flex-wrap mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-info btn-lg" style="margin-top: -100px; margin-left: -10px; padding-left: 40px; width: 250px;">
        <span class="" style="font-size: 50px; color: skyblue"> <ngx-avatar src="assets/img/avatar.jpg"></ngx-avatar></span>
        <p class="h6 card-title font-weight-bold" style="padding-left: 64px; margin-top: -20px; margin-right: 100px;">TestA TestA</p>
        <br />
        <p class="h6 card-title font-weight-bold " style="padding-left: 64px; margin-top: -27px; margin-right: 100px;">
          DOB: Jun, 1960
          <br />MRN:
        </p>
      </button>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="btn-toolbar flex-wrap mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-info btn-lg" style="margin-top: -100px; margin-left: -10px; padding-left: 40px; width: 250px;">
        <span class="" style="font-size: 50px; color: skyblue"> <ngx-avatar value="65%" src="assets/img/avatar.jpg"></ngx-avatar></span>
        <p class="h6 card-title font-weight-bold" style="padding-left: 64px; margin-top: -20px; margin-right: 100px;">TestA TestA</p>
        <br />
        <p class="h6 card-title font-weight-bold " style="padding-left: 64px; margin-top: -27px; margin-right: 100px;">
          DOB: Jun, 1960
          <br />MRN:
        </p>
      </button>
    </div>
  </div>
</div>
