<div class="container" style="width: 700px; margin-top: -300px">
  <div class="d-flex">
    <div class="col">
      <h1 style="margin-top: -100px; font-size: 15px;padding-left: 260px;">Summary chart </h1>
      <div class="card">
        <div class="card-body p-1 m-0">
          <canvas id="canvas"></canvas>
        </div>




      </div>
    </div>
  </div>
  <div #content class="content">
    <p>
      Start editing to see some magic happen :)
    </p>
  </div>

  <button (click)="makePdf()">make pdf</button>
</div>
